@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: 'baishakh';
  src: url('/fonts/baishakh.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}

@font-face { 
  font-family: 'banglaborno';
  src: url('/fonts/banglaborno.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}

@font-face { 
  font-family: 'chainateesa';
  src: url('/fonts/chainateesa.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}

@font-face { 
  font-family: 'deyalika';
  src: url('/fonts/deyalika.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}

@font-face { 
  font-family: 'hostoshoily';
  src: url('/fonts/hostoshoily.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}

@font-face { 
  font-family: 'ichamati';
  src: url('/fonts/ichamati.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}

@font-face { 
  font-family: 'indibangla';
  src: url('/fonts/indibangla.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}
@font-face { 
  font-family: 'jmakash';
  src: url('/fonts/jmakash.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}

@font-face { 
  font-family: 'lipishree';
  src: url('/fonts/lipishree.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}
@font-face { 
  font-family: 'madina';
  src: url('/fonts/madina.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}

@font-face { 
  font-family: 'mainaksign';
  src: url('/fonts/mainaksign.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}
@font-face { 
  font-family: 'nakatra';
  src: url('/fonts/nakatra.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}

@font-face { 
  font-family: 'shaluk';
  src: url('/fonts/shaluk.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #9333ea #f1f1f1;
}
